@import 'tailwindcss';

:root {
  --c-p: #0b2440;
  --c-pl: #14335a;
  --c-a: #e7a634;
  --c-ad: #a9761b;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #fbfbfa;
  transition:
    background-color 0.8s ease,
    color 0.8s ease,
    border-color 0.8s ease;
}
